.media {
  height: 350px;
  width: 1050px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  transition: translateX(-500px);
}

.move {
  position: relative;
}

.reservearea {
  transition: all 0.25s;
  height: 0;
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top;
}

.visible {
  opacity: 1 !important;
  transform: rotateX(0deg) !important;
  height: 100px !important;
}

.poster{
  transition: all 10s;
}

.poster:hover {
  transform: scale3d(2,2,2);
}
